{% load static i18n %}

{% block javascript %}
<script>
<!--  <s cript>    -->
<!--$("#id_image").change(function() {      -->
<!--console.log($(this).val());    -->
<!--    });    -->
<!--  </s cript> -->
function checkUserKeydown(event) {
  return event instanceof KeyboardEvent
};
</script>
{% endblock %}

<div class="modal-content">
  <form id="cardeditpopupform"
        name="cardeditpopupform"
        hx-post="{{ request.path }}"
        hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
        class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">{% translate "Edit Card" %}</h1>
      <button type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="modal-body">
        {% csrf_token %}
        <div id="div_id_name" class="mb-3">
          <label for="id_name" class="form-label requiredField">
            Name<span class="asteriskField">*</span>
          </label>
          <input type="text"
                 name="name"
                 maxlength="22"
                 class="textinput form-control"
                 required=""
                 id="id_name"
                 value="{{ form.name }}"  />
        </div>
        <div id="div_id_description" class="mb-3">
          <label for="id_description" class="form-label">Description</label>
          <input type="text"
                 name="description"
                 maxlength="100"
                 class="textinput form-control"
                 id="id_description"
                 value="{{ form.description }}" />
        </div>
        <div id="div_id_image" class="mb-3">
          <label>
            Image file
            <input list="id_image"
                   type="text"
                   id="image"
                   name="image"
                   autocomplete="off"
                   placeholder="arch-linux.png"
                   value="{{ form.image }}"
                   hx-get="/ajax/icon-autocomplete"
                   hx-target="#id_image"
                   hx-trigger="keyup[checkUserKeydown.call(this, event)] changed delay:25ms" />
          </label>
{% if icon_form_table %}
          <table class="table">
          <thead>
          <tr>
            <th class="mb-3">Image</th>
            <th class="mb-3">Name</th>
          </tr>
          </thead>
          <tbody id="id_image" class="">
          </tbody>
          </table>
{% else %}
          <datalist id="id_image"></datalist>
{% endif %}
        </div>
        <div id="div_id_url" class="mb-3">
          <label for="id_url" class="form-label requiredField">
            Url<span class="asteriskField">*</span>
          </label>
          <input type="url"
                 name="url"
                 value="{{ form.url }}"
                 maxlength="150"
                 class="urlinput form-control"
                 required=""
                 id="id_url" />
        </div>
        <div class="mb-3">
          <div id="div_id_status_enable" class="form-check">
            <input type="checkbox"
                   name="status_enable"
                   class="checkboxinput form-check-input"
                   id="id_status_enable"
                   {% if form.status_enable %}checked{% endif %}/>
            <label for="id_status_enable" class="form-check-label">Enable Status</label>
          </div>
        </div>
        <div id="div_id_status_code" class="mb-3">
          <label for="id_status_code" class="form-label">Status Code</label>
          <input type="text"
                 name="status_code"
                 maxlength="4"
                 class="textinput form-control"
                 id="id_status_code"
                 value="{{ form.status_code }}" />
        </div>
        <div id="div_id_status_freq" class="mb-3">
          <label for="id_status_freq" class="form-label">Freq. Check in seconds (min 3)</label>
          <input type="number"
                 name="status_freq"
                 min="3"
                 max="86400"
                 class="numberinput form-control"
                 id="id_status_freq"
                 value="{{ form.status_freq }}" />
        </div>
        <div id="div_id_docker_server_url" class="mb-3">
          <label for="id_docker_server_url" class="form-label">Docker Server URL</label>
          <input type="url"
                 name="docker_server_url"
                 maxlength="150"
                 class="urlinput form-control"
                 id="id_docker_server_url"
                 value="{{ form.docker_server_url }}" />
        </div>
        <div id="div_id_docker_env" class="mb-3">
          <label for="id_docker_env" class="form-label">Docker Env</label>
          <input type="text"
                 name="docker_env"
                 maxlength="2"
                 class="textinput form-control"
                 id="id_docker_env"
                 value="{{ form.docker_env }}" />
        </div>
        <div id="div_id_docker_container_name" class="mb-3">
          <label for="id_docker_container_name" class="form-label">Docker Container Name</label>
          <input type="text"
                 name="docker_container_name"
                 maxlength="128"
                 class="textinput form-control"
                 id="id_docker_container_name"
                 value="{{ form.docker_container_name }}" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <img src="{% static '/dashboard_icons/png/' %}{{ form.image }}"
           width="50"
           height="50"
           alt="image" />
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
      <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
    </div>
  </form>
</div>
