{% load static i18n %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Top navbar</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"
             aria-current="page"
             href="{% url 'dashboard' %}">{% translate "Home" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             role="button"
             hx-get="{% url 'edit_mode_menu' %}"
             hx-target="#edit_mode_menu">
            {% if user.is_authenticated and edit_mode %}
              {% translate "Standard Mode" %}
            {% else %}
              {% translate "Edit Mode" %}
            {% endif %}
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">{% translate "Settings" %}</a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated and user.is_superuser %}
              <li>
                <a class="dropdown-item" href="{% url 'admin:index' %}">{% translate "Admin pages" %}</a>
              </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="#">Action</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another action</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
        {# Display item user menu #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            {% if user.get_username %}
              {{ user.get_username }}
            {% else %}
              {% translate "Login" %}
            {% endif %}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="pages-profile.html">Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="pages-analytics.html">Analytics</a>
            </li>
            <li class="dropdown-divider"></li>
            {% if not user.get_username %}
              <li>
                <a class="dropdown-item" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
              </li>
            {% else %}
              <li>
                <a class="dropdown-item" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
              </li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item">
          <span class="sidebar-link align-middle"
                hx-get="{% url 'edit_mode_menu' %}"
                hx-target="#edit_mode_menu">
            {% if user.is_authenticated and edit_mode %}
              {% translate "Standard Mode" %}
            {% else %}
              {% translate "Edit Mode" %}
            {% endif %}
          </span>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2"
               type="search"
               placeholder="Search"
               aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!--<nav class="navbar navbar-expand navbar-light navbar-bg">-->
<!--  <a class="sidebar-toggle js-sidebar-toggle">-->
<!--    <i class="hamburger align-self-center"></i>-->
<!--  </a>-->
<!--  <div class="navbar-collapse collapse">-->
<!--    <ul class="navbar-nav navbar-align">-->
<!--      {# Display search #}-->
<!--      <li>-->
<!--        <form class="d-flex" role="search">-->
<!--          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />-->
<!--          <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--        </form>-->
<!--      </li>-->
<!--      {# Display item menu notification #}-->
<!--      <li class="nav-item dropdown">-->
<!--        {# Display item menu notification bell + message count #}-->
<!--        <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">-->
<!--          <div class="position-relative">-->
<!--            <i class="align-middle" data-feather="bell"></i>-->
<!--            <span class="indicator">4</span>-->
<!--          </div>-->
<!--        </a>-->
<!--        {# Display Dropdown menu notification #}-->
<!--        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">-->
<!--          <div class="dropdown-menu-header">-->
<!--            4 New Notifications-->
<!--          </div>-->
<!--          {# Display notifications #}-->
<!--          <div class="list-group">-->
<!--            <a href="#" class="list-group-item">-->
<!--              <div class="row g-0 align-items-center">-->
<!--                <div class="col-2">-->
<!--                  <i class="text-danger" data-feather="alert-circle"></i>-->
<!--                </div>-->
<!--                <div class="col-10">-->
<!--                  <div class="text-dark">Update completed</div>-->
<!--                  <div class="text-muted small mt-1">Restart server 12 to complete the update.</div>-->
<!--                  <div class="text-muted small mt-1">30m ago</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </a>-->
<!--            <a href="#" class="list-group-item">-->
<!--              <div class="row g-0 align-items-center">-->
<!--                <div class="col-2">-->
<!--                  <i class="text-warning" data-feather="bell"></i>-->
<!--                </div>-->
<!--                <div class="col-10">-->
<!--                  <div class="text-dark">Lorem ipsum</div>-->
<!--                  <div class="text-muted small mt-1">Aliquam ex eros, imperdiet vulputate hendrerit et.</div>-->
<!--                  <div class="text-muted small mt-1">2h ago</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </a>-->
<!--            <a href="#" class="list-group-item">-->
<!--              <div class="row g-0 align-items-center">-->
<!--                <div class="col-2">-->
<!--                  <i class="text-primary" data-feather="home"></i>-->
<!--                </div>-->
<!--                <div class="col-10">-->
<!--                  <div class="text-dark">Login from 192.186.1.8</div>-->
<!--                  <div class="text-muted small mt-1">5h ago</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </a>-->
<!--            <a href="#" class="list-group-item">-->
<!--              <div class="row g-0 align-items-center">-->
<!--                <div class="col-2">-->
<!--                  <i class="text-success" data-feather="user-plus"></i>-->
<!--                </div>-->
<!--                <div class="col-10">-->
<!--                  <div class="text-dark">New connection</div>-->
<!--                  <div class="text-muted small mt-1">Christina accepted your request.</div>-->
<!--                  <div class="text-muted small mt-1">14h ago</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="dropdown-menu-footer">-->
<!--            <a href="#" class="text-muted">Show all notifications</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
<!--      {# Display item user menu #}-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">-->
<!--          <i class="align-middle" data-feather="settings"></i>-->
<!--        </a>-->
<!--        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">-->
<!--          <span class="text-dark">{{ user.get_username }}</span>-->
<!--        </a>-->
<!--        <div class="dropdown-menu dropdown-menu-end">-->
<!--          <a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Profile</a>-->
<!--          <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Analytics</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="index.html"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>-->
<!--          <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->
